<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true"></span>
      </button>
</div>
<div class="modal-body">

    <ul *ngIf="product != null">
        <li> Id: {{ product.Id }} </li>
        <li> Name: {{ product.Name }} </li>
        <li> Description: {{ product.Descricao }} </li>
        <li> Code: {{ product.Codigo }} </li>
        <li> {{ product.Preco }} </li>
        <li> {{ product.Email }} </li>
    </ul>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>