<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <h3>Product Listing</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-10  col-sm-offset-2">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">{{ product.Id }}</th>
                        <td>{{ product.Name }}</td>
                        <td>{{ product.Descricao }}</td>
                        <td>{{ product.Codigo }}</td>
                        <td>{{ product.Preco }}</td>
                        <td>{{ product.Email }}</td>
                        <td><button class="btn btn-primary" [routerLink]="['/save', product.Id]">
                                 <i class="glyphicon glyphicon-pencil"></i>
                            </button> |
                            <button (click)="onDetails(product.Id)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-zoom-in"></i>    
                            </button> |
                            <button (click)="onDelete(product.Name, product.Id )" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="products==null">
                        <p>Products not found </p>
                    </tr>
                </tbody>
            </table>
            <button [routerLink]="['/save']" class="btn btn-info">
                    <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
</div>